.container-fluid.custom-users-container
{
    background: linear-gradient(to right, #E4F0DA, #C9E2CB);
    min-height : 100vh;
}

li
{
    list-style-type: none;
}

.custom-users-button
{
    border: none;
    background-color: white;

}
.bi-info-circle.custom-iIcon
{
    color : blue;
    float : left;
}